<!-- Download Section -->
<section id="download" class="content-section">
    <div class="download-section">
        <div class="container">
            <div class="row">
                <div class="overtext col-lg-3">
                    <h2>Java &middot; J2EE</h2>
                    <p>Over ten years designing and developing Java systems in an enterprise setting. Projects ranging from Front-End Model-View-Controller applications to middleware system and services.</p>
                    <p>Lightweight REST/JSON services supporting mobile and JavaScript based clients.</p>
                </div>
                <div class="col-lg-1"></div>
                <div class="overtext col-lg-3">
                    <h2>iPad &middot; iPhone &middot; iPod</h2>
                    <p>We build native applications supporting business needs inside and outside the enterprise. Our understanding of mobile device management (MDM) can help you secure your devices as well as deploy your Apps to them. </p>
                    <p>Is retail distribution more your need? We can build to publish on the Apple App Store.</p>
                </div>
                <div class="col-lg-1"></div>
                <div class="overtext col-lg-3">
                    <h2 class="hidden-phone">HTML &middot; CSS &middot; JS</h2>
                    <p>Moving beyond simple web page dynamism, we utilize MVC frameworks such as Backbone.js to create JavaScript Web Applications.</p>
                    <p>Feed your applications with REST/JSON served by your chosen technology; Java, Ruby, or node.js to name a few.</p>
                </div>
            </div>
        </div>
    </div>
</section>
